:root{
  --bg-color-depth1: #0b1725; 
  --bg-color-depth2: #0c2836;
  --bg-color-depth3: #195775;
  --bg-color-depth4: #1e678a;
  --bg-color-depth5: #10384b;
  --bg-color-depth6: rgba(30, 103, 138, 0.1);

  --tx-color-depth1: #fff;

  --star-color-active: #fcf485;
  --star-color-deactive: #fff;
}