body.day{
  --bg-color: #fff;
  --bg-maket-top: #1e678a;
  --bg-market-input: #fff;
  --bg-market-table-odd: rgba(0, 104, 139, 0.1);
  --border-market-input: #1e678a;
  --border-makret: #1e678a;
  --bg-market-tab: #88adbe;
  --bg-market-tab-active: #23779f; 
  --bg-nav-hover: rgba(20, 120, 161, 0.1);
  --bg-nav-active:rgba(20, 120, 161, 0.2);
  --bg-nav-shadow: rgba(200, 200, 200, 0.5);

  --content-color: #1e678a;
  --content-market-top: #fff;
  --content-market-tab: #fff;

  --star-color-active: #e6d81b;
  --star-color-deactive: #aaa;

  --bg-quote: rgba(30, 103, 138, 0.1);
  --bg-quote-header: rgba(0, 104, 139, 0.25);
  --bg-quote-body: rgb(233, 233, 233);
}