body{
  margin: 0;
  padding: 0;
}

body.day{
  --bg-color: #fff;
  --content-color: #1e678a;

  --market-top-bg: #1e678a;
  --market-input-bg: #fff;
  --market-table-even--bg: rgba(0, 104, 139, 0.1);
  --market-input-border: #1e678a;
  --makret-border: #1e678a;
  --market-tab-bg: #88adbe;
  --market-tab-active-bg: #23779f; 
  --market-top-content: #fff;
  --market-tab-content: #fff;

  --nav-hover-bg: rgba(20, 120, 161, 0.1);
  --nav-active-bg:rgba(20, 120, 161, 0.2);
  --nav-shadow-bg: rgba(200, 200, 200, 0.5);

  --star-active-bg: #e6d81b;
  --star-deactive-bg: #aaa;

  --quote-bg: rgba(30, 103, 138, 0.1);
  --quote-header-bg: rgba(0, 104, 139, 0.25);
  --quote-body-bg: rgb(233, 233, 233);

  --charts-bg: #fff;
  --charts-tabs-bg: #1e678a;
  --charts-tab-bg: #23779f;
  --charts-tab-hover-bg: rgba(200, 200, 200, 0.5);
  --charts-tab-active-bg: #88adbe;
  --charts-content: #fff;

  --buysell-top-bg: #1e678a;

  --orderbook-header-bg: rgb(234, 234, 234);
  --orderbook-body-even: rgba(0, 104, 139, 0.1);

  --balance-head-bg: #eaeaea;
}