body.night{
  --bg-color: #0b1725;
  --bg-maket-top: #0b1725;
  --bg-market-input: #0c2836;
  --bg-market-table-odd: #0c2836;
  --border-market-input: #195775;
  --border-makret: #1e678a;
  --bg-market-tab: rgba(30, 103, 138, 0.1);
  --bg-market-tab-active: #1e678a;
  --bg-nav-hover: #1e678a;
  --bg-nav-active: #10384b;
  --bg-nav-shadow: #10384b;

  --content-color: #fff;
  --content-market-top: #fff;
  --content-market-tab: #fff;

  --star-color-active: #fcf485;
  --star-color-deactive: #fff;

  --bg-quote: rgba(30, 103, 138, 0.1);
  --bg-quote-header: #195775;
  --bg-quote-body: #0b1725;
}