body{
  margin: 0;
  padding: 0;
}

body.night{
  --bg-color: #0b1725;
  --content-color: #fff;

  --market-top-bg: #0b1725;
  --market-input-bg: #0c2836;
  --market-table-even--bg: #0c2836;
  --market-input-border: #195775;
  --makret-border: #1e678a;
  --market-tab-bg: rgba(30, 103, 138, 0.1);
  --market-tab-active-bg: #1e678a;
  --market-top-content: #fff;
  --market-tab-content: #fff;

  --nav-hover-bg: #1e678a;
  --nav-active-bg: #10384b;
  --nav-shadow-bg: #10384b;

  --star-active-bg: #fcf485;
  --star-deactive-bg: #fff;

  --quote-bg: rgba(30, 103, 138, 0.1);
  --quote-header-bg: #195775;
  --quote-body-bg: #0b1725;

  --charts-bg: rgb(13, 40, 54);
  --charts-tabs-bg: rgb(13, 40, 54);
  --charts-tab-bg: rgba(30, 103, 138, 0.1);
  --charts-tab-hover-bg: #999;
  --charts-tab-active-bg: #1e678a;
  --charts-content: #fff;

  --buysell-top-bg: #0c2836;

  --orderbook-header-bg: rgb(25, 87, 117);
  --orderbook-body-even: rgba(0, 104, 139, 0.1);

  --balance-head-bg: #1e678a;
}